{% extends "positions/base.html" %}
{% load staticfiles %}

{% block "content" %}
  <div class="zone zone-1">

    <div class="row slice-main">

      <div class="col col-33">

          <div class="element-l">{{ axis.name }}</div>

      </div>

      <div class="col col-66 axis-description">

          {{ axis.description }}

      </div>

    </div>

  </div>
  <div class="zone zone-3">

    <div class="row slice-main">

      <div class="col col-33">

          <div class="element-big">{{ contributor.name }}</div>

      </div>

      <div class="col col-66 axis-description">

          {{ contributor.goals }}

      </div>

    </div>

  </div>

  <div class="zone zone-2">

    <div class="row slice-main">

      <div class="col col-66 col-document">

        <img src="{% static 'img/document.png' %}" alt="Document">

      </div>

      <div class="col col-values">

        <div class="element-l">Values:</div>

        <form action="{{ axis.get_absolute_url }}" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" class="pure-button button-success"/>
        </form>

        <div class="contributor-description">

          <div class="element-m">About the contributor:</div>

          <ul>
          <li><b>Acronym</b>: {{ contributor.acronym }}</li>

          {% if contributor.org_type %}
          <li><b>Organisation type</b>: {{ contributor.org_type }}</li>
          {% endif %}

          {% if contributor.org_subtype %}
          <li><b>Organisation subtype</b>: {{ contributor.org_subtype }}</li>
          {% endif %}
          {% if contributor.members %}
          <li><b>Members:</b>{{ contributor.members }} </li>
          {% endif %}

          {% if contributor.activity %}
          <li>Activity: {{ contributor.activity }}</li>
          {% endif %}
          {% if contributor.website %}
          <li>Website: {{ contributor.website }}</li>
          {% endif %}
          </ul>

      </div>
      <div class="read-more"><a href="#">Read more…</a></div>


      </div>

    </div>

    <div class="row">

      <div class="col col-done">

        <div class="pure-button button-secondary button-large">I'm done, show me the results!</div>

      </div>

    </div>

  </div>
  {% endblock %}
