{% extends "positions/base.html" %}

{% block "content" %}
  <div class="zone zone-1">

    <div class="row slice-main">
      <div class="col">Blah…</div>
      <div class="col">

        <div class="total_positions">{{ total_positions }}</div>

        <div class="total_processed_positions">{{ total_processed_positions }}</div>

        <div class="processed_percentage">{{ processed_percentage }}</div>

      </div>
    </div>

  </div>

  <div class="zone zone-2">

    <div class="row slice-main">
      <div class="col col-20">gfgfds</div>
      <div class="col">gfgds 2</div>
      <div class="col">gfgds 2</div>
    </div>

  </div>
  {% endblock %}
